<div id="snippet-<%= snippet.uuid %>" class="snippet border-top py-2 row">
    <div class="col-9">
        <%= snippet.name %> - <span class="text-secondary"><%= snippet.description %></span>
    </div>
    <div class="col text-end">
        <%= content_tag :span, snippet.language, class: 'badge rounded-pill bg-light text-dark' %> 
        <%= link_to 'view', snippet_path(snippet.uuid) %>
    </div>
</div>