<div id="snippet-<%= version.uuid %>" class="snippet flex py-4 border-b-2">
    <div class="w-1/3">
        <%= version.version %> - <%= time_ago(version.created_at) %>
    </div>
    <div class="w-1/3">
        <%= version.name %> - <span class="text-secondary"><%= version.description %></span>
    </div>
    <div class="w-1/3 text-right">
        <%= link_to 'view', snippet_path(version.uuid, version: version.version) %>
    </div>
</div>