<div id="snippet-<%= version.uuid %>" class="snippet border-top py-2 row">
    <div class="col">
        <%= version.version %> - <%= version.created_at %>
    </div>
    <div class="col-6">
        <%= version.name %> - <span class="text-secondary"><%= version.description %></span>
    </div>
    <div class="col text-end">
        <%= link_to 'view', snippet_path(version.uuid, version: version.version) %>
    </div>
</div>