

<%= content_tag :h4 do %>
  <%= @snippet.name %>
  <%= content_tag :small, @snippet.description, class: 'text-secondary' %>
<% end %>
<style>
.CodeMirror {
  min-height: 600px;
  height: auto;
}
</style>
<%= text_area_tag "snippet_content", @snippet.content %>
<ul class="list-unstyled list-inline">
    <li class="list-inline-item"><%= button_to 'edit', snippet_fork_path(@snippet.uuid), method: :get, class: 'btn btn-secondary' %></li>
    <li class="list-inline-item"><%= button_to 'destroy', snippet_path(@snippet.uuid), method: :delete, class: 'btn btn-secondary' %></li>
</ul>
<br/>
<%= content_tag :h4, "Revisions" if @versions.present? %>
<%= render partial: 'version', collection: @versions %>
<script>
var codeEditor = document.getElementById("snippet_content");
var myCodeMirror = CodeMirror.fromTextArea(codeEditor, {
    lineNumbers: false,
    mode: "<%= @snippet.language %>",
    readOnly: 'nocursor'
  }
);
</script>