<!DOCTYPE html>
<html>
  <head>
    <title>Trustb.in</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.4/codemirror.min.js" integrity="sha512-2cmTnLqUwlJs8HnJF3SvFKcsdRf65Ho7wof0IeydYXnyWCiVhaR6u2zTD/BFS+2mIywyiUscY1Er54SS+OJjEw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.4/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <% Snippet::LANGUAGES.each do |lang| %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.4/mode/<%= lang %>/<%=lang %>.min.js"></script>
    <% end %>
  </head>

  <body>
    <div class="container">
      <div class="row mt-3">
        <div class="col-5">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <%= link_to root_path do %>
                <%= logo %>
              <% end %>
              Private code bin for engineering teams
            </li>
          <ul>
        </div>
        <div class="col-7 text-end">
          <% if signed_in? %>
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><%= link_to 'All', snippets_path %></li>
            <li class="list-inline-item"><%= link_to 'Mine', snippets_path(show: 'private') %></li>
            <li class="list-inline-item"><%= link_to 'New', new_snippet_path %></li>
            <li class="list-inline-item"><%= current_user.email if signed_in? %></li>
            <li class="list-inline-item"><%= button_to 'Sign Out', destroy_user_session_path,
              method: :delete, class: 'btn btn-default' if signed_in? %></li>
          <ul>
          <% end %>
        </div>
        <div class="col-md-12 mt-5">
          <%= raw flash_messages(flash) %>
          
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
