<!DOCTYPE html>
<html>
  <head>
    <title>TrustBin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('logo.png') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.4/codemirror.min.js" integrity="sha512-2cmTnLqUwlJs8HnJF3SvFKcsdRf65Ho7wof0IeydYXnyWCiVhaR6u2zTD/BFS+2mIywyiUscY1Er54SS+OJjEw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.4/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <% Snippet::LANGUAGES.each do |lang| %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.4/mode/<%= lang %>/<%=lang %>.min.js"></script>
    <% end %>
    <style>
      main.form-signin {
        border: 1px solid #ddd;
        width: 300px;
        padding: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
      }
    </style>

  </head>
  <body class="text-center">
    <main class="form-signin shadow">
        <%= yield %>
    </main>
  </body>